<!DOCTYPE html>
<html>

{{>head}}

<body>
  {{>nav}}
  <h1 class="lead text-center mt-2">Leaderboard</h1>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each teams as |team|}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{team.name}}</td>
            <td>{{team.score}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{>scripts}}
</body>

</html>
