<!DOCTYPE html>
<html>

{{>head}}

<body>
  {{>nav}}
  <h1 class="lead text-center mt-2">Registration</h1>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
      <form class="text-center border border-light p-5" id="registration-form">
        <p class="text-left">Team name</p>
        <input type="text" class="form-control mb-4" placeholder="Team name" name="name" required>

        <p class="text-left">First member</p>
        <div class="form-row mb-4">
          <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Stackoverflow name" name="members[0][name]" required>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="number" class="form-control" min="1" max="9999999" placeholder="Stackoverflow username"
              name="members[0][username]" required>
          </div>
        </div>

        <p class="text-left">Second member</p>
        <div class="form-row mb-4">
          <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Stackoverflow name" name="members[1][name]" required>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="number" class="form-control" min="1" max="9999999" placeholder="Stackoverflow username"
              name="members[1][username]" required>
          </div>
        </div>

        <p class="text-left">Third member</p>
        <div class="form-row mb-4">
          <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Stackoverflow name" name="members[2][name]" required>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="number" class="form-control" min="1" max="9999999" placeholder="Stackoverflow username"
              name="members[2][username]" required>
          </div>
        </div>

        <p class="text-left">Fourth member</p>
        <div class="form-row mb-4">
          <div class="col-xs-12 col-sm-6">
            <input type="text" class="form-control" placeholder="Stackoverflow name" name="members[3][name]">
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="number" class="form-control" min="1" max="9999999" placeholder="Stackoverflow username"
              name="members[3][username]">
          </div>
        </div>

        <button class="btn btn-info my-4 btn-block" type="submit">Register team</button>

      </form>
    </div>
  </div>
  {{>scripts}}
</body>

</html>
